@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
:root {
    --cor-primaria: #ebeaea;
    --cor-secundaria: #3b8952;
    --cor-tercearia: #0f684b;
    --cor-quarta: #042527;
    --cor-quinta: #1c232e;
    --cor-sexta: #001f36;
    --cor-text: #181717;

    --color-1:  #000000;
    --color-2: #1f1f1f;
    --color-3: #3f3f3f;
    --color-4: #5e5e5e;
    --color-5: #7d7d7d;

    --cor-primaria-tEscuro: #1f1f1f;
    --cor-secundaria-tEscuro: #104dcf;
    --cor-tercearia-tEscuro: #3f3f3f;
}

body {
    background-color: var(--cor-primaria);
}
/* TEMA ESCURO -------------------------------*/
.tema_escuro {
    --cor-escuro: rgb(29, 28, 28);
    --cor-clara: #ebeaea;
}
body.tema_escuro {
    background-color: var(--cor-escuro);
}
body.tema_escuro header {
    background-color: var(--color-2);
    box-shadow: 1px 5px 15px rgba(2, 2, 2, 0.226);
}
body.tema_escuro header.rolagem {
    background-color: #1f1f1ffb;
}
body.tema_escuro header span {
    color: #fff;
}
body.tema_escuro header span:hover {
    color: var(--cor-secundaria-tEscuro);
}
body.tema_escuro #open {
    background-color: var(--cor-escuro);
    color: #fff;
}
body.tema_escuro h1 {
    color: #fff;
    font-weight: bold;
}
body.tema_escuro h3 {
    font-weight: 400;
    color: #fff;
}
body.tema_escuro .SECAO_1 {
    background-color: var(--color-2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.349);
}
body.tema_escuro .TEXTO button {
    font-weight: 500;
    background-color: var(--cor-secundaria-tEscuro);
}


body.tema_escuro .DENSENVOLVIMENTO_FUNK {
    background-color: var(--cor-escuro);
    box-shadow: 0px 0px 15px black;
}
body.tema_escuro .POPULARIZACAO_FUNK {
    background-color: var(--cor-escuro);
    box-shadow: 0px 0px 15px black;
}
body.tema_escuro .IMPORTANCIA_CULTURA {
    background-color: var(--cor-escuro);
    box-shadow: 0px 0px 15px black;
}
body.tema_escuro .DENSENVOLVIMENTO_FUNK p {
    background-color: rgb(46, 46, 46);
    color: #fff;
}
body.tema_escuro .POPULARIZACAO_FUNK p {
    background-color: rgb(46, 46, 46);
    color: #fff;
}
body.tema_escuro .IMPORTANCIA_CULTURA p {
    background-color: rgb(46, 46, 46);
    color: #fff;
}


body.tema_escuro main ul {
    box-shadow: 7px 7px 1px #333333;
}
body.tema_escuro footer p {
    color: #fff;
}
body.tema_escuro footer {
    box-shadow: 1px -10px 10px rgba(2, 2, 2, 0.226);
}
body.tema_escuro footer span {
    color: var(--cor-secundaria-tEscuro);
}
body.tema_escuro .ATALHOS p:hover  {
    text-decoration: underline;
}
body.tema_escuro .CONTATOS span {
    color: var(--cor-secundaria-tEscuro);
}

/* HEADER -------------------------------------------------*/
header {
    background-color: #f5f5f5;
    box-shadow: 1px 5px 15px rgba(87, 87, 87, 0.205);
    padding: 30px;
    transition: .7s ease;
    position: fixed;
    z-index: 2;
    width: 97%;
    top: 0;
    left: 0;
}
header.rolagem {
    position: fixed;
    padding: 10px 30px;
    background-color: #f5f5f5f3;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    color: white;
    position: absolute;
    background: rgb(209, 42, 153);
    padding: 5px;
    border-radius: 7px;
    left: 420px;
    font-style: italic;
    font-size: 24px;
    pointer-events: none;
}
.LOGO img{
    display: flex;
    margin-top: 10px;
    width: 80px;
    transition: .2s;
    filter: grayscale(40%);
    transition: transform .3s ease;
}
.LOGO img:hover{
  transform: scale(1.2);
}
.ICONE_VOLTAR a{
    font-size: 30px;
    text-decoration: none;
}
.ICONE_VOLTAR span {
    font-size: 60px;
    color: var(--color-2);
    transition: transform .2s ease;
}
.ICONE_VOLTAR span:hover {
    color: var(--cor-secundaria);
    transform: scale(1.2);
}
.MENU span {
    font-size: 60px;
    color: var(--color-2);
    transition: transform .2s ease;
    cursor: pointer;
}
.MENU span:hover {
    transform: scale(1.2);
    color: var(--cor-secundaria);
}
.MENU button {
    border: none;
    background-color: transparent;
}
#open {
    list-style: none;
    display: none;
    background-color: white;
    position: absolute;
    padding: 20px;
    width: 125px;
    right: 20px;
}

/* MAIN-----------------------------------------------*/
.SECAO_1 {
    margin-top: 280px;
    display: flex;
    justify-content: space-between;
    background: whitesmoke;
    height: 580px;
    border-radius: 30px;
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: -9px 11px 1px var(--color-3);
}

.TEXTO {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 70px;
    max-width: 830px;
}
.TEXTO h3 {
    font-weight: 400;
}
.TEXTO h1 {
    margin-top: 120px;
}
.TEXTO button {
    width: 200px;
    padding: 10px;
    border: none;
    background-color: var(--cor-secundaria);
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 330px;
    transition: .2s ease;
}
.TEXTO button a {
    font-size: 21px;
    text-decoration: none;
    color: #fff;
}
.TEXTO button:hover {
    box-shadow: 0px 1px 10px rgb(20, 20, 20);
}

.IMAGEM {
    margin-left: 120px;
}

.IMAGEM img{
    position: absolute;
    width: 40rem;
    height: 40rem;
    right: 6rem;
    top: 262px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(32, 32, 32);
}

.SOBRE_FUNK {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
}
.DENSENVOLVIMENTO_FUNK, .POPULARIZACAO_FUNK, .IMPORTANCIA_CULTURA {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #ffffff34;
    width: 31rem;
    height: 33rem;
    padding: 1rem;
    box-shadow: 0px 0px 15px rgb(209, 209, 209);
    border-radius: 2rem;
    pointer-events: none;
}
.DENSENVOLVIMENTO_FUNK h1::after, .POPULARIZACAO_FUNK h1::after, .IMPORTANCIA_CULTURA h1::after {
    content: "";
    display: flex;
    margin-top: 1.5%;
    clip-path: inset(0px 25px);
    height: .2rem;
    background: var(--cor-secundaria);
}

.DENSENVOLVIMENTO_FUNK img, .POPULARIZACAO_FUNK img, .IMPORTANCIA_CULTURA img {
    width: 20rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px gray;
}
.DENSENVOLVIMENTO_FUNK img {
    width: 13.7rem;
}
.DENSENVOLVIMENTO_FUNK p, .POPULARIZACAO_FUNK p, .IMPORTANCIA_CULTURA p {
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: #e6e6e6ee
    
}
/* FOOTER ----------------------------------- */
footer {
    box-shadow: 1px -10px 10px rgba(58, 58, 58, 0.11);
    margin-top: 250px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    gap: 450px;
}
footer h1{
    color: var(--color-2);
    font-size: 25px;
    pointer-events: none;
}
footer p {
    color: var(--color-2);
    font-size: 15px;
}
footer span {
    color: var(--cor-secundaria);
    font-weight: 500;
}
footer a {
    text-decoration: none;
}
.ATALHOS {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.ATALHOS a:hover {
    text-decoration: underline;
    color: var(--color-2);
}
.CONTATOS {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

@media (max-width: 450px) {
    header {
    width: 100%;
    padding: 5px 0px;
    align-items: center;
    transition: all .6s ease;
    }
    .ICONE_VOLTAR span {
        font-size: 50px;
    }
    .MENU span {
        margin-right: 3vw;
        font-size: 50px;
    }
    .LOGO img {
        margin: 0 auto;
        width: 70px;
    }
    header.rolagem {
        padding: 3px 0px;
    }
    header.rolagem h1{
        top: 28px;
        left: 80px;
        transition: all .6s ease;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header h1 {
        display: none;
        font-size: 16px;
        left: 80px;
        top: 32px;
    }
    main {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .IMAGEM img{
        position: relative;
        width: 90vw;
        height: 100vw;
        top: 5vw;
        right: 3.8rem;
    }
    .SECAO_1 {
        display: flex;
        justify-self: center ;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 40vw;
        box-shadow: none;
        max-width: 95%;
        height: 100%;
        width: 100%;
        padding: 10px 0px;
        box-shadow: 0px 0px 10px rgb(194, 194, 194);
    }
    .TEXTO {
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        max-width: 95%;
    }
    .TEXTO h1 {
        font-size: 20px;
    }
    .TEXTO h3 {
        width: 100%;
        font-size: 14px;
        text-align: justify;
    }
    .TEXTO button {
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 10px;
        width: 43%;
    }
    .TEXTO button a {
        font-size: 15px;
    }
    .SOBRE_FUNK {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .DENSENVOLVIMENTO_FUNK, .POPULARIZACAO_FUNK, .IMPORTANCIA_CULTURA {
        width: 22rem;
        height: 37rem;
        font-size: .8rem;
    }
    .DENSENVOLVIMENTO_FUNK p, .POPULARIZACAO_FUNK p, .IMPORTANCIA_CULTURA p {
        font-size: 1.1rem;
    }

    footer {
        display: block;
        padding: 20px;
        justify-content: start;
        margin: 0;
        margin-top: 90px;
    }
    .ATALHOS {
        text-align: center;
    }
    .CONTATOS{
        margin: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }
}

@media (min-width: 451px) and (max-width: 1279px) {
    
    header {
        width: 100%;
        padding: 15px 0px;
    }
    header.rolagem {
        padding: 5px 0px;
    }
    nav {
        display: flex;
        justify-content: space-around;
    }
    header h1 {
        display: none;
    }
    main {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .IMAGEM img {
        position: relative;
        top: 0;
        right: 6vw;
        width: 78vw;
        height: 80vw;
    }
    .SECAO_1 {
        margin: 0 auto;
        justify-content: center;
        box-shadow: none;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        height: 100%;
        padding: 30px 0px;
        margin-top: 20vw;
        box-shadow: 0px 0px 10px rgb(194, 194, 194);
    }
    .TEXTO {
        align-items: center;
        margin-top: 10%;
        align-self: center;
        max-width: 90%;
    }
    .TEXTO h1 {
        margin: 0 auto;
    }
    .TEXTO h3 {
        width: 100%;
    }
    .TEXTO button {
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 15px;
    }
    .SOBRE_FUNK {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    footer {
        overflow-x: hidden;
        margin: 0 auto; 
        margin-top: 100px;
        justify-content: space-around;
        gap: 0;
    }
}
@media (min-width: 1280px) and (max-width: 1500px) and (min-height: 720px) and (max-height: 800px) {
    header h1 {
        left: 350px;
    }
    
    .SECAO_1 {
        margin-top: 18vw;
        margin-left: 0;
        margin-left: 2.5vw;
        height: 30rem;
        width: 100%;
        max-width: 95%;
        padding: 0;
    }
    .IMAGEM img {
        width: 33rem;
        height: 33rem;
        top: 16.8vw;
        right: 2rem;
        border-radius: 2rem;
    }
    .TEXTO {
        max-width: 50%;
        display: flex;
        text-align: justify;
        gap: 50px;
    }
    .TEXTO h1 {
        margin-top: 6rem;
    }
    .TEXTO button {
        margin: 0;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .SOBRE_FUNK {
        margin-top: 10rem;
    }
    .DENSENVOLVIMENTO_FUNK, .POPULARIZACAO_FUNK, .IMPORTANCIA_CULTURA {
        width: 23rem;
    }
    footer {
        margin-top: 10rem;
    }
}