@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
:root {
    --cor-primaria: #ebeaea;
    --cor-secundaria: #3b8952;
    --cor-tercearia: #0f684b;
    --cor-quarta: #042527;
    --cor-quinta: #1c232e;
    --cor-sexta: #001f36;
    --cor-text: #181717;

    --color-1:  #000000;
    --color-2: #1f1f1f;
    --color-3: #3f3f3f;
    --color-4: #5e5e5e;
    --color-5: #7d7d7d;

    --cor-primaria-tEscuro: #1f1f1f;
    --cor-secundaria-tEscuro: #104dcf;
    --cor-tercearia-tEscuro: #3f3f3f;
}

body {
    background-color: var(--cor-primaria);
}
/* TEMA ESCURO -------------------------------*/
.tema_escuro {
    --cor-escuro: rgb(29, 28, 28);
    --cor-clara: #ebeaea;
}
body.tema_escuro {
    background-color: var(--cor-escuro);
}
body.tema_escuro header {
    background-color: var(--color-2);
    box-shadow: 1px 5px 15px rgba(2, 2, 2, 0.226);
}
body.tema_escuro header.rolagem {
    background-color: #1f1f1ffb;
}
body.tema_escuro header span {
    color: #fff;
}
body.tema_escuro header span:hover {
    color: var(--cor-secundaria-tEscuro);
}
body.tema_escuro #open {
    background-color: var(--cor-escuro);
    color: #fff;
}
body.tema_escuro h1 {
    color: #fff;
    font-weight: bold;
}
body.tema_escuro h3 {
    font-weight: 400;
    color: #fff;
}
body.tema_escuro .SECAO_1 {
    background-color: var(--color-2);
    box-shadow: 0px 0px 15px rgb(12, 12, 12);
}
body.tema_escuro .TEXTO button {
    background-color: var(--cor-secundaria-tEscuro);
    font-weight: 500;
}
body.tema_escuro main ul {
    box-shadow: 7px 7px 1px #333333;
}
body.tema_escuro footer p {
    color: #fff;
}
body.tema_escuro footer {
    box-shadow: 1px -10px 10px rgba(2, 2, 2, 0.226);
}
body.tema_escuro footer span {
    color: var(--cor-secundaria-tEscuro);
}
body.tema_escuro .ATALHOS p:hover  {
    text-decoration: underline;
}
body.tema_escuro .CONTATOS span {
    color: var(--cor-secundaria-tEscuro);
}

/* HEADER -------------------------------------------------*/
header {
    background-color: #f5f5f5;
    box-shadow: 1px 5px 15px rgba(87, 87, 87, 0.205);
    padding: 30px;
    transition: .7s ease;
    position: fixed;
    z-index: 2;
    width: 97%;
    top: 0;
    left: 0;
}
header.rolagem {
    position: fixed;
    padding: 10px 30px;
    background-color: #f5f5f5f3;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    color: white;
    position: absolute;
    background: rgb(189, 43, 43);
    padding: 5px;
    border-radius: 7px;
    left: 430px;
    font-style: italic;
    font-size: 24px;
    pointer-events: none;
}
.LOGO img{
    display: flex;
    margin-top: 10px;
    width: 80px;
    transition: .2s;
    filter: grayscale(40%);
    transition: transform .3s ease;
}
.LOGO img:hover{
  transform: scale(1.2);
}
.ICONE_VOLTAR a{
    font-size: 30px;
    text-decoration: none;
}
.ICONE_VOLTAR span {
    font-size: 60px;
    color: var(--color-2);
    transition: transform .2s ease;
}
.ICONE_VOLTAR span:hover {
    color: var(--cor-secundaria);
    transform: scale(1.2);
}
.MENU span {
    font-size: 60px;
    color: var(--color-2);
    transition: transform .2s ease;
    cursor: pointer;
}
.MENU span:hover {
    transform: scale(1.2);
    color: var(--cor-secundaria);
}
.MENU button {
    border: none;
    background-color: transparent;
}
#open {
    list-style: none;
    display: none;
    background-color: white;
    position: absolute;
    padding: 20px;
    width: 125px;
    right: 20px;
}
/* MAIN ----------------------------------------- */
.SECAO_1 {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    background: whitesmoke;
    height: 1000px;
    max-width: 1000px;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0px 0px 10px gray;
    width: 47%;
}

.TEXTO {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 70px;
    max-width: 800px;
    margin-bottom: 100px;
    margin-top: 560px;
}
.TEXTO h3 {
    font-weight: 500;
    max-width: 800px;
    text-align: justify;
}
.TEXTO button {
    width: 200px;
    padding: 10px;
    border: none;
    background-color: var(--cor-secundaria);
    border-radius: 3px;
    margin-top: 30px;
    transition: .2s ease;
}
.TEXTO button a {
    font-size: 21px;
    text-decoration: none;
    color: #fff;
}
.TEXTO button:hover {
    box-shadow: 0px 1px 10px rgb(20, 20, 20);
}

.SECAO_1 img{
    position: absolute;
    width: 950px;
    left: 480px;
    top: 212px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
}

/* SECAO 2 ------------------------------------- */
.SECAO_2 {
    margin-top: 7rem;
    display: grid;
    grid-template-rows: 30% 30% 30%; 
    justify-content: center;
    pointer-events: none;
    gap: 4rem;
}
.ORIGENS, .POPULARIZACAO, .IMPORTANCIA_CULTURAL {
    background-color: #ffffff34;
    box-shadow: 0px 0px 10px gray;
    border-radius: 1rem;
    margin: .5rem;
    width: 80rem;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.ORIGENS_IMG img, .POPULARIZACAO_IMG img, .IMPORTANCIA_CULTURAL_IMG img {
    width: 30rem;
    height: 21.3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px rgb(22, 22, 22);
}
.ORIGENS_IMG, .POPULARIZACAO_IMG, .IMPORTANCIA_CULTURAL_IMG {
    display: flex;
}
.ORIGENS_IMG::after, .POPULARIZACAO_IMG::after, .IMPORTANCIA_CULTURAL_IMG::after {
    content: '';
    margin-left: 1rem;
    width: 3px;
    height: 100%;
    clip-path: inset(5% 0px);
    background-color: black;
}

.ORIGENS_TEXTO, .POPULARIZACAO_TEXTO, .IMPORTANCIA_CULTURAL_TEXTO {
    margin-top: 2rem;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.ORIGENS_TEXTO p, .POPULARIZACAO_TEXTO p, .IMPORTANCIA_CULTURAL_TEXTO p {
    font-size: 1rem;
}


/* FOOTER ----------------------------------- */
footer {
    box-shadow: 1px -10px 10px rgba(58, 58, 58, 0.11);
    margin-top: 250px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    gap: 450px;
}
footer h1{
    color: var(--color-2);
    font-size: 25px;
    pointer-events: none;
}
footer p {
    color: var(--color-2);
    font-size: 15px;
}
footer span {
    color: var(--cor-secundaria);
    font-weight: 500;
}
footer a {
    text-decoration: none;
}
.ATALHOS {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.ATALHOS a:hover {
    text-decoration: underline;
    color: var(--color-2);
}
.CONTATOS {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
/* RESPONSIVIDADE CELULAR ------------------------- */
@media (max-width: 450px) {
    header {
        width: 100%;
        padding: 15px;
    }
    header.rolagem {
        padding: 0px 10px;
    }
    nav {
        justify-content: space-around;
    }
    header h1 {
        display: none;
    }
    .ICONE_VOLTAR span {
        font-size: 50px;
    }
    .MENU span {
        margin-right: 3vw;
        font-size: 50px;
    }
    .LOGO img {
        margin: 0 auto;
        width: 70px;
    }
    .SECAO_1 img{
        position: relative;
        width: 80vw;
        border-radius: 20px;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 5px gray;
        margin: 0;
    }
    .SECAO_1 {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        margin-top: 40vw;
        box-shadow: none;
        max-width: 90%;
        height: 100%;
        width: 100%;
        padding: 10px 0px;
        box-shadow: 0px 0px 10px rgb(194, 194, 194);
    }
    .SECAO_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ORIGENS, .POPULARIZACAO, .IMPORTANCIA_CULTURAL {
        width: 90%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0;
        padding-top: 0;
    }

    .ORIGENS_IMG, .POPULARIZACAO_IMG, .IMPORTANCIA_CULTURAL_IMG {
        display: flex;
        justify-content: center;
    }
    .ORIGENS_IMG::after, .POPULARIZACAO_IMG::after, .IMPORTANCIA_CULTURAL_IMG::after {
        content: '.';
        display: none;
    }

    .ORIGENS_IMG img, .POPULARIZACAO_IMG img, .IMPORTANCIA_CULTURAL_IMG img {
        width: 93%;
        height: auto;
    }
    .ORIGENS_TEXTO, .POPULARIZACAO_TEXTO, .IMPORTANCIA_CULTURAL_TEXTO {
        max-width: 90%;
        margin-left: 1.1rem;
        text-align: justify;
        gap: 3rem;
    }
    .ORIGENS_TEXTO h1::after, .POPULARIZACAO_TEXTO h1::after, .IMPORTANCIA_CULTURAL_TEXTO h1::after {
        content: '';
        display: block;
        width: 100%;
        height: .2rem;
        clip-path: inset(0px 8%);
        background-color: black;
    }
    .TEXTO {
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        max-width: 95%;
    }
    .TEXTO h1 {
        margin-top: 6vw;
        font-size: 20px;
    }
    .TEXTO h3 {
        width: 97%;
        font-size: 14px;
        text-align: justify;
    }
    .TEXTO button {
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 10px;
        width: 43%;
    }
    .TEXTO button a {
        font-size: 15px;
    }
    
    footer {
        display: block;
        padding: 20px;
        justify-content: start;
        margin: 0;
        margin-top: 20%;
    }
    .ATALHOS {
        text-align: center;
    }
    .CONTATOS{
        margin: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
/*RESPONSIVIDADE TABLET ----------------------------- */
@media (min-width: 451px) and (max-width: 1279px) {
    header {
        width: 100%;
        padding: 15px;
    }
    header h1 {
        display: none;
    }
    header.rolagem {
        padding: 0px 10px;
    }
    nav {
        justify-content: space-around;
    }
    .SECAO_1 img {
        position: relative;
        margin-bottom: 2vw;
        width: 80vw;
        border-radius: 20px;
        top: 0;
        left: 0;
    }
    .SECAO_1 {
        flex-direction: column-reverse;
        height: 100%;
        width: 90%;
        margin-top: 22vw;
    }
    .ORIGENS, .POPULARIZACAO, .IMPORTANCIA_CULTURAL {
        width: 97.7%;
        margin-left: 1%;
    }
    .ORIGENS_IMG, .POPULARIZACAO_IMG, .IMPORTANCIA_CULTURAL_IMG {
        margin-left: 10px;
    }
    .ORIGENS_TEXTO, .POPULARIZACAO_TEXTO, .IMPORTANCIA_CULTURAL_TEXTO {
        margin-right: 5%;
    }
    .TEXTO {
        margin-top: 6vw;
        max-width: 80%;
        gap: 50px;
    }
    .TEXTO h3 {
        text-align: justify;
    }
    footer {
        overflow-x: hidden;
        margin: 0 auto; 
        margin-top: 100px;
        justify-content: space-around;
        gap: 0;
    }
}
@media (min-width: 1280px) and (max-width: 1500px) and (min-height: 720px) and (max-height: 800px) {
    header h1 {
        left: 310px;
    }
    
    .SECAO_1 {
        width: 50vw;
        height: 62vw;
    }
    .TEXTO {
        margin-top: 30vw;
        max-width: 90%;
    }

    .SECAO_1 img {
        width: 55vw;
        left: 22.5vw;
    }
    .ORIGENS_TEXTO p, .POPULARIZACAO_TEXTO p, .IMPORTANCIA_CULTURAL_TEXTO p {
        font-size: 1.1rem;
        text-align: justify;
    }
    footer {
        margin-top: 7rem;
    }
}